* {
	box-sizing: border-box;
}
/**/
body {
	width: 100%;
	height: 100%;
	border:0px;
	padding:0px;
}

/*elements du Header*/

#menu
{
	Background-color:orange;
}

/* Style all font awesome icons */
.fa {
    display:inline-block;
    height:100%;
    width: auto;
    text-align: center;
    text-decoration: none;
}

#title
{
	font-size:2vw;
}

.btn-block{
	border:0px;
	height:100%;
}






/*elements du Header*/

/* iframe de la carte google maps*/
#PrincMap {
	width:100%; 
	height:400px;
	frameborder:0;
	border:0;
}
